<div class="row contenedor-menu">
	<div id="barra-superior">
		<div class="logo">
			<%= link_to image_tag('Menu/logo_educacion_continua_espol.png',class: "imagen-logo"),"http://ec.espol.edu.ec",target: :_blank %>
		</div>
	</div>
	<div class="container">
		<h1 class="titulo">SIEC</h1>
		<div class="row content-opciones">
			<div class="col-md-4 col-sm-6 col-xs-12 sistema">
				<div class="thumbex">
					<a href="/ventas">
						<div class="contenedor-imagen">
							<%= image_tag("Menu/ventas.png",class: "imgs")%>
						</div>
						<h3 class="nombres">Ventas</h3>
					</a>
					
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12 sistema">
				<div class="thumbex">
					<a href="/academico">
						<div class="contenedor-imagen">
							<%= image_tag("Menu/academico.png",class: "imgs")%>
						</div>
						<h3 class="nombres">Academico</h3>
					</a>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12 sistema">
				<div class="thumbex">
					<a href="">
						<div class="contenedor-imagen">
							<%= image_tag("Menu/financiero.png",class: "imgs")%>
						</div>
						<h3 class="nombres">Financiero</h3>
					</a>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12 sistema">
				<div class="thumbex">
					<a href="/comunicacion">
						<div class="contenedor-imagen">
							<%= image_tag("Menu/financiero.png",class: "imgs")%>
						</div>
						<h3 class="nombres">Comunicación</h3>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
